body{
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    
}

 .fathersheader {
    margin:0 auto;
    width:auto;
    height:0;
    padding-top: calc(768 / 1366 * 100%); /* calc(画像高さ ÷ 画像横幅 × 100%) */
    background-image: url(./img/fathersday.png);
    background-repeat: no-repeat;
    background-size: cover
} 

.fathersheader {
    margin:0 auto;
    width:100%;
    overflow: hidden;
    position:reative;
}

/* ハンバーガーメニュー */
nav.globalMenuSp {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #fff;
  color: #000;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 30%;
  height:100%;
}

nav.globalMenuSp ul {
  background: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height:100%;
  
}

nav.globalMenuSp ul li {
  font-size: 2.5em;
  list-style-type: none;
  padding: 0;
  width: 100%;
  padding:15% 0;
  border: 1px dotted #000;
}

nav.globalMenuSp ul li:last-child {
  /* padding-bottom: 0;
  border-bottom: none; */
}

nav.globalMenuSp ul li a {
  display: block;
  color: #000;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateY(0%);
}

.navToggle {
  display: block;
  position: fixed;    
  right: 13px;
  top: 12px;
  width: 4%;
  height: 8%;
  cursor: pointer;
  z-index: 3;
  background: rgb(0, 0, 0);
  text-align: center;
}

.navToggle span {
  display: block;
  position: absolute;    
  width: 50px;
  border-bottom: solid 5px #fff;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
  left: 15px;
}

.navToggle span:nth-child(1) {
  top: 18px;
}

.navToggle span:nth-child(2) {
  top: 36px;
}

.navToggle span:nth-child(3) {
  top: 54px;
}

.navToggle span:nth-child(4) {
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  top: 63px;
}
.navToggle.active span:nth-child(1) {
  top: 36px;
  left: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navToggle.active span:nth-child(2),
.navToggle.active span:nth-child(3) {
  top: 36px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ここまで */

.logo {
    position:absolute;
    left:0;
    z-index: 1;
    top:3%;
    left:3%;
    width:20%;
}

.logo:hover{
    opacity:0.5;
}

/* nav_menu */
.nav{
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: rgba(99, 99, 99,.95);
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.nav ul{
    margin: 0;
    padding: 0;
}

.nav_item li{
    height: calc(100vh/5);
    line-height: 187.39px;
    list-style-type: none;
    font-size: 3em;
    text-align: center;
}

a{
    display: block;
    text-decoration: none;
    color: #fff;
}

/* hamburger_line */
#target {
    width: 40px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 50px;
    cursor: pointer;
    display: block;
    -webkit-transition: 1.5s;
    transition: 1.5s;
}

.target_inner{
    width: 40px;
    height: 30px;
    position: relative;
}

.target_inner_line {
    display: block;
    width: 40px;
    height: 5px;
    background: #636363;
    -webkit-transition: 1.5s;
    transition: 1.5s;
    border-radius: 50px;
    position: absolute;
}

.target_inner_1 {
    top: 0;
}

.target_inner_2 {
    top: 13px;
}

.target_inner_3 {
    top: 26px;
}

/* 動き */
.fadein{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.linea,.lineb,.linec{
    background: #ffffff;
}

.linea {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 13px;
}

.lineb {
    opacity: 0;
}

.linec {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: 13px;
}

.main-wrap {
    width: calc(100% - 120px);
    margin: 0 auto;
}

ul {
    list-style: none;
}

.top_categories {
    margin:200px 30px 30px 30px;
    display:flex;
    border:3px solid #000;
    
}

.box {
    display:flex;
    flex-direction: column-reverse;
    box-sizing: border-box; 
    padding: 5% 10px;
}

.box:hover {
    opacity:0.5;
}

.text {
    width: 80%;
    text-align: center;
    padding-top:30px;
}
h1 {
    font-size:3em;
    margin-top:10px;
}

#item {
    font-size:1em;
}

.pic {
  min-height: 0%;
}

.pic img {
    max-width:80%;
    height:auto;
}

.line-up {
    margin:250px 0;
    text-align: center;
}

.line {
    color: #444;
	font-size: 5em;
	display: flex;
    align-items: start;
}

.line:before,.line:after {
    content: "";
	flex-grow: 1;
	height: 2px;
	background: #444;
    display: block;
    position:relative;
    top:40px;
}

.line span {
    padding:0 20px;
}

#lineup {
    font-size: 1.5em;
    text-align: center;
}

h2 {
    font-size: 5em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20%;
}


.main-brand {
    display: flex;
    width:100%;
    justify-content: center;

}

.brandname {
   margin-right:10%;
}

#brandname_s {
    font-size:1.5em;
    font-family: futura-pt, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    
}

#loisvuitton {
    font-family: futura-pt, sans-serif;
    font-size:4.5em;  
    text-align:center;
}

.brandpic {
    width:700px;
    margin-top:20%;
}

.description {
    margin-top:15%;
    text-align: left;
}

 #dis {
    font-family: 'Noto Serif';
    font-size:2em;
    text-align: left;
    line-height: 2em;
    font-weight:bold;
}

#dis_s {
    font-size:1.5em;
    line-height:1.5em;
}


.category_letter {
    margin-top:10%;
}

.category {
    font-size: 5em;
    text-align: center;
    margin-bottom:10%;
}

.three_item {
    display: flex;
    justify-content: center;
    margin-bottom: 12%;
}

.items:last-child {
    display:none;
}

.item_name {
    text-align: center;
    font-size:2.5em;
    font-family: 'Noto Serif';
} 

.items img {
    padding-bottom:20%;
    width:80%;
}

.items :hover {
    opacity:0.5;
}

.all {
    display:block;
}

.category_letter {
    margin-bottom: 20%;
}

.all {
    font-size:3em;
    border: 1px solid #000;
    padding:20px 0;
    border-radius:30px;
    width:30%;
    margin:0 auto;
    transition: all 0.3s ease 0s;
}

.all:hover{
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 1);
    transform: translateY(-0.1875em);
}

#gucci {
    font-family:'Optima';
    font-size:8.5em;
    text-align: center;
    font-weight:lighter;
}

#helmes {
    font-size:5.5em;
    text-align: center;
    font-weight:lighter;
}

.wrapping {
    text-align: center;
    font-size:5.5em;
    margin-top: .3em;
}

.wrapping {
    color: #444;
	font-size: 5em;
	display: flex;
    align-items: center;
    margin-bottom:50px;
}

.wrapping span {
    padding:0 20px;
}

.wrapping:before,.wrapping:after {
    content: "";
	flex-grow: 1;
	height: 2px;
	background: #444;
	display: block;
}

.giftdis {
    margin:10% 0;
    font-size:2.5em;
    text-align: center;
}

.giftpic {
   margin-top:5%;
   display:flex;
   justify-content: center;
}

.giftpic img {
    border-radius: 30px;
    width:60%;
}

.more {
    margin:10% 0;
    display: flex;
    justify-content: center;
}  

.details {
    border: 2px solid #000000;
    border-radius: 30px;
    padding:40px 100px;
    font-size:3em;
    line-height: 55px;
    transition: all 0.3s ease 0s;
}

.details:hover{
    color:#fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 1);
    transform: translateY(-0.1875em);
}


.brandpic,.top_categories,.giftpic { 
    opacity : 0;
    transform: translateY(50px);
    transition: all 2s;
}
.description p {
    -webkit-transition: all 2s;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
  .description p.move {
    -webkit-transform: translate(300px, 0);
    opacity: 0;
  }

a {
      text-decoration: none;
      color:#000;
  }

/* iframePC版フッター表示 */
#pc_footerframe {
display:block;
}
/* iframesmp版フッター表示 */
#smp_footerframe {
    display:none;
}
